.title {
  color: #4D7C0F;;
  font-size: 36px;
}

.description {
  /* color: gray; */
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  direction: rtl;
}

.container main {
  margin: 40px 0 90px;
}
