@media (min-width: 768px) {
  .maps {
    display: flex;
    gap: 25px;
  }
  .maps section {
    width: 50%;
  }

  .contents {
    display: flex;
    gap: 35px;
  }
  .contents section,
  .contents form {
    width: 50%;
    margin-top: 3rem;
  }
}
.maps section {
  margin-bottom: 20px;
}

.contents section {
  margin-top: 20px;
}

.container {
  color: black;
  text-align: right;
  max-width: 1024px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
  margin-left: auto;
}
