.comments {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.comments span {
  margin-right: 0.3rem;
}
.user_comments {
  width: 100%;
}

.form_bg {
  width: 100%;
}

@media (min-width: 768px) {
  .comments {
    flex-direction: row;
  }
  .user_comments {
    width: 50%;
  }
  .form_bg {
    width: 50%;
  }
}
