.readable {
  background-color: #f3f3f3
}
.main section {
  font-family: shabnam;
}
.main {
  margin-top: 2rem;
  text-align: right;
  margin-bottom: 3rem;
}

.main span {
  color: #4D7C0F;;
  font-size: 24px;
}
.main section:nth-child(1) {
  padding: 40px 20px 20px;
  text-align: center;
}
.main section:nth-child(1) p {
  /* color: gray; */
  margin: 15px 0px 80px;
  font-size: 15px;
}

.club {
  background-image: url("/images/clubset1.jpg");
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  /* width: 60% !important; */
}
.club div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 30px;
  width: 70%;
  background: white;
}
.club p {
  margin-top: 10px;
}
.logo {
  width: 80px;
  margin-left: auto;
}


.title {
  color: #711d1c;
  font-size: 44px;
}

.why_coffee {
  padding: 80px 30px;
}
.why_coffee div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
}
.red_btn {
  background-color: #711d1c !important;
  border: 1px solid #711d1c !important;
  color: white !important;
}
.why_coffee div button {
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border: 1px solid gray;
  margin-top: 2rem;
  color: black;
  background: white;
  font-family: shabnam;
}
.why_coffee p:nth-child(3) {
  margin-top: 1rem;
  direction: rtl;
  line-height: 1.8rem;
  /* color: gray; */
  font-size: 15px;
}
@media (min-width: 768px) {
  .club {
    width: 100%;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .main {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .main section {
    width: 50%;
  }
  .main span {
    color: #4D7C0F;;
    font-size: 32px;
  }
  
.club {
  height: auto;
  background-image: url("/images/clubset1.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 60% !important;
}
.club div {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 30px;
  width: 100%;
  background: white;
}
.club p {
  margin-top: 10px;
}


}